
$nhs-blue: #005EB8;
$nhs-darkblue: #003087;
$nhs-brightblue: #0072CE;
$nhs-lightblue: #41B6E6;
$nhs-aquablue: #00A9CE;
$nhs-black: #231f20;
$nhs-darkgray: #425563;
$nhs-midgray: #768692;
$nhs-palegray: #E8EDEE;
$nhs-darkgreen: #006747;
$nhs-green: #009639;
$nhs-lightgreen: #78BE20;
$nhs-aquagreen: #00A499;
$nhs-purple: #330072;
$nhs-darkpink: #7C2855;
$nhs-pink: #AE2573;
$nhs-darkred: #8A1538;
$nhs-emergencyred: #DA291C;
$nhs-orange: #ED8B00;
$nhs-warmyellow: #FFB81C;
$nhs-yellow: #FAE100;

$custom-primary: #A491D3;
$custom-secondary: #00A499;
$custom-tertiary: #642CA9;
$custom-light: #FFFFFA;
$custom-dark: #1F2421;


body {
	background-color: $nhs-blue;
}

footer {
	background-color: $nhs-blue;
}




