<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpProtocol>
            <customHeaders>
                <!-- SECURITY HEADERS - https://securityheaders.io/? -->
                <!-- Protects against Clickjacking attacks. ref.: http://stackoverflow.com/a/22105445/1233379 -->
                <!-- <add name="X-Frame-Options" value="SAMEORIGIN" /> -->
                <add name="X-Frame-Options" value="ALLOW-FROM https://nwasnhstrust.sharepoint.com/" />
                <!-- Protects against Clickjacking attacks. ref.: https://www.owasp.org/index.php/HTTP_Strict_Transport_Security_Cheat_Sheet -->
                <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains" />
                <!-- Protects against XSS injections. ref.: https://www.veracode.com/blog/2014/03/guidelines-for-setting-security-headers/ -->
                <add name="X-XSS-Protection" value="1; mode=block" />
                <!-- Protects against MIME-type confusion attack. ref.: https://www.veracode.com/blog/2014/03/guidelines-for-setting-security-headers/ -->
                <add name="X-Content-Type-Options" value="nosniff" />
                <!-- CSP modern XSS directive-based defence, used since 2014. ref.: http://content-security-policy.com/ -->
                <!-- <add name="Content-Security-Policy" value="default-src 'self'; font-src *;img-src * data:; script-src *; style-src *;" /> -->
                <!-- Prevents from leaking referrer data over insecure connections. ref.: https://scotthelme.co.uk/a-new-security-header-referrer-policy/ -->
                <add name="Referrer-Policy" value="strict-origin" />
            </customHeaders>
        </httpProtocol>
    <security>
            <requestFiltering allowDoubleEscaping="true" />
    </security> 
        <directoryBrowse enabled="false" />
	        <httpErrors errorMode="Detailed" defaultResponseMode="ExecuteURL">
            <remove statusCode="500" subStatusCode="-1" />
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" path="/ErrorPages/404.asp" responseMode="ExecuteURL" />
            <error statusCode="500" prefixLanguageFilePath="" path="/ErrorPages/500.asp" responseMode="ExecuteURL" />
        </httpErrors>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
                <add value="Default.htm" />
                <add value="Default.asp" />
            </files>
        </defaultDocument>
        <rewrite>
            <outboundRules>
                <preConditions>
                    <preCondition name="ResponseIsHtml1">
                        <add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/html" />
                    </preCondition>
                </preConditions>
            </outboundRules>
            <rules>
                <clear />
                <rule name="HTTP/S to HTTPS Redirect" enabled="true" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                        <add input="{SERVER_PORT_SECURE}" pattern="^0$" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" appendQueryString="false" redirectType="Permanent" />
                </rule>
                <rule name="LowerCaseRule1" enabled="false" stopProcessing="true">
                    <match url="[A-Z]" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="{ToLower:{URL}}" />
                </rule>
                <rule name="Default Document URL Rewrite" stopProcessing="true">
                    <match url="(.*?)/?Default\.asp$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="{R:1}/" />
                </rule>
                <rule name="Issue" stopProcessing="true">
                    <match url="^Issue/$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="Issue.asp" logRewrittenUrl="false" />
                </rule>
                <rule name="Shortcuts" stopProcessing="true">
                    <match url="^Shortcuts/$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php" logRewrittenUrl="false" />
                </rule>
            </rules>
            <rewriteMaps>
                <rewriteMap name="/index.php" />
            </rewriteMaps>
        </rewrite>
    </system.webServer>
    <system.web>
        <globalization culture="en-GB" uiCulture="en-GB" />
        <httpCookies httpOnlyCookies="true" /> 
        <httpRuntime enableVersionHeader="false" /> 
    </system.web>
</configuration>
